# =========================
# CONFIGURACIÓN DE ENTORNO
# =========================
NODE_ENV=development
PORT=3000

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/payments_db?schema=public

# Python Service (Python)
PYTHON_SERVICE_URL=http://localhost:8000